*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-image: url('/assets/brandi-redd-aJTiW00qqtI-unsplash.jpg'); */
    /* background-image: url('/assets/ass1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top; */
}

.heading{

    max-width: 500px;
    width: 100%;
    height: 100px;
    margin: 20px 30px 25px 30px;
    padding: 30px 40px 30px 40px;
    color:tomato;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid tomato; /* short hand for border*/
    border-radius: 10px;
};

.sub-heading{
    font-size: 24px;
    color: crimson;
}

.list{
    list-style-type: lower-roman;
    color: white;
    background-color: cadetblue;
}