.z-index {
    /* position: absolute; */
    /* position: fixed; */
    /* margin-top: -210px; */
    /* left: 0px; 
    top: 0px;
    z-index: -1;  */
  }

   .relative{
    width:200px;
    height:100px;
    float: left;
    /* position: relative; */
    /* right: 10%;
    top: 100%; */
    border: 1px solid #333;
    overflow: auto;
    background-color: blue;
    opacity: 0.4;
    /* overflow: scroll;
    overflow: visible; */
  }

